h1 {
    text-align:center;
    font-size:100px;
    font: 'Ariel' , serif;
background-color: gray;
}
/**
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: #c44200;
    color: black;
    margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color:#c44200 ;
    color: black;
    margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: #c44200;
    color: black;
    margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

.nav-pills .pill-4 .nav-link:not(.active) {
    background-color: #c44200 ;
    color:black;
   margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

.nav-pills .pill-5 .nav-link:not(.active) {
    background-color: #c44200 ;
    color:black;
    margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

.nav-pills .pill-6 .nav-link:not(.active) {
    background-color:#c44200 ;
    color: black;
    margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

/**/
.nav-pills .pill-1 .nav-link {
    background-color: #bd663a;
    color: white;
    margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

.nav-pills .pill-2 .nav-link {
    background-color:#bd663a ;
    color: white;
     margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

.nav-pills .pill-3 .nav-link {
    background-color: #bd663a;
    color: white;
     margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}
.nav-pills .pill-4 .nav-link {
    background-color: #bd663a;
    color: white;
    margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

.nav-pills .pill-5 .nav-link {
    background-color:#bd663a ;
    color: white;
    margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

.nav-pills .pill-6 .nav-link {
    background-color:#bd663a ;
    color: white;
    margin:25px;
    border:5px solid grey;
    border-radius: 25px;
}

body {
    background-color: #ffdaa6;
    border:5px solid black;

}

h2{
    text-align: center;
    margin: auto;
}
container{
    text-align: center;
}

div{
    text-align: center;
    margin: auto;
}

div1{
   text-align: center;
    margin:auto;
    font-size: 10px;
}


divA {
    text-align:center;
    margin: 50px;
    
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
    height: 10%;
}

divB {
    text-align:center;
    margin: 50px;
    word-wrap: break-word;
}
